# Ubuntu 20.04 학습 환경에서 사용되는 apt 패키지.

# Essential packages.
libjemalloc2  # Ubuntu 18에서는 libjemalloc1을 사용할 것.
libjpeg-turbo8
libpng16-16
openssh-server
sudo
tzdata
wget
zsh

# Additional packages.
at
atop
curl
git
git-lfs
htop
nano
libgdcm-tools  # For GDCM related tools.
parallel
pigz
rsync
rclone
tmux
unzip
